<h1>{{ title }}</h1>

<form [formGroup]="fiscalCodeForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput placeholder="Surname" formControlName="surname">
    <mat-error *ngIf="submitted && fiscalCodeForm.controls.surname.errors">
      Surname is required
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
    <mat-error *ngIf="submitted && fiscalCodeForm.controls.name.errors">
      Name is required
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="submitted && fiscalCodeForm.controls.date.errors">
      Date is required
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-select placeholder="Sex" formControlName="sex">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
    <mat-error *ngIf="submitted && fiscalCodeForm.controls.sex.errors">
      Sex is required
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Birth place" formControlName="birthPlace">
    <mat-error *ngIf="submitted && fiscalCodeForm.controls.birthPlace.errors">
      Birth place is required
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Province" formControlName="province" maxlength="2" capitalize>
    <mat-error *ngIf="submitted && fiscalCodeForm.controls.province.errors">
      Province is required
    </mat-error>
  </mat-form-field>

  <br>

  <button mat-raised-button>Submit</button>

</form>

<div *ngIf="submitted && success">


  <p>FISCAL CODE: {{fiscalCode}}</p>

</div>